html {
	margin: 0;
    padding: 0;
}

body { 
	font: 125% times;
	line-height: 1.25;
    background-color: rgb(21, 32, 43);
    color: aliceblue;
	margin: 50; 
	padding: 0;
}

p { 
	margin-top: 0; 
    text-align: justify;
}

h2 {
    border: 5px outset orange;
    background-color: rgb(23, 23, 156);
    text-align: center;
}

h3 {
    border: 5px outset orange;
    background-color: rgb(23, 23, 156);
    text-align: center;
}

div {
    text-align: center;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    border: 10px outset blue;
}


video {
    border: 10px outset blue;    
}

ul {
    font-weight: bold;
    color: orange;
}

a:link{
    color: lightskyblue
}

a:visited{
    color: orange;
}

a:hover{
    color: red;
}

a:active{
    color: silver;
}

figure {
    display: inline-block;
    margin: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}
